html, body {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: "Microsoft YaHei","Roboto",sans-serif;
    text-align: center;
}
h1 {
    margin-top: 50px;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.flex-anim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.anim-demo-item {
    width: 270px;
    height: 270px;
    background: red;
    margin: 15px;
}
.empty-block {
    height: 35vh;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='306px' height='306px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='expand-more'%3E%3Cpolygon points='270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
}
.empty-block-small {
    height: 15vh;
}
